@inject IUserService userService
@inject NavigationManager navManager

<div class="modal @((Visible ? "active" : ""))">
    <div class="modal-overlay" @onclick="@Toggle"></div>
    <div class="modal-container">
        <div class="modal-header">
            <button class="btn btn-clear float-right" @onclick="@Toggle"></button>
            <div class="modal-title h5">VEP Login Portal</div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <FormGroupInput LabelName="Nation ID" 
                                        @bind-Value="nationId" 
                                        IsValid="value => this.AllFieldsAreEmpty || int.TryParse(value, out _) || !string.IsNullOrEmpty(this.rulerName)" />
                    </div>
                    <div class="divider-vert" data-content="OR"></div>
                    <div class="column">
                        <FormGroupInput LabelName="Ruler Name" 
                                        @bind-Value="rulerName" 
                                        IsValid="value => this.AllFieldsAreEmpty || !string.IsNullOrEmpty(value) || int.TryParse(this.nationId, out _)" />
                    </div>
                </div>
                <FormGroupInput LabelName="Unique Code" @bind-Value="uniqueCode" IsValid="value => this.AllFieldsAreEmpty || !string.IsNullOrEmpty(value)" />
                <div class="form-group">
                    <label class="form-checkbox">
                        <input type="checkbox" @bind="rememberMe" />
                        <i class="form-icon"></i> Remember me
                    </label>
                </div>
                <p class="text-error @(loginFailed ? "" : "d-none")">
                    The login that you entered doesn't match what we have on file. Please try again or contact VEP management for assistance.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" @onclick="@LogIn">Log In</button>
            <button class="btn btn-link" @onclick="@Toggle">Close</button>
        </div>
    </div>
</div>

@code {

    private bool rememberMe;
    private string nationId;
    private string rulerName;
    private string uniqueCode;
    private bool loginFailed;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    private bool AllFieldsAreEmpty => string.IsNullOrEmpty(nationId) && string.IsNullOrEmpty(rulerName) && string.IsNullOrEmpty(uniqueCode);

    private Task Toggle()
    {
        Visible = !Visible;

        return VisibleChanged.InvokeAsync(Visible);
    }

    private async Task LogIn()
    {
        var request = string.IsNullOrEmpty(nationId) ? new AuthRequest(rulerName, uniqueCode) : new AuthRequest(Convert.ToInt32(nationId), uniqueCode);
        Console.WriteLine(request.ToString());

        try
        {
            await userService.LogIn(request, rememberMe);
            navManager.NavigateTo("account");
        }
        catch (UnauthorizedAccessException)
        {
            Console.WriteLine("Unauthorized >:(");
            loginFailed = true;
        }
        catch (Exception e)
        {
            Console.WriteLine("Uh oh :( - " + e.Message);
            loginFailed = true;
        }
    }

}
