@inject IUserService userService
@inject NavigationManager navManager

<div class="modal @((Visible ? "active" : ""))">
    <div class="modal-overlay" @onclick="@Toggle"></div>
    <div class="modal-container">
        <div class="modal-header">
            <button class="btn btn-clear float-right" @onclick="@Toggle"></button>
            <div class="modal-title h5">VEP Login Portal</div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <FormGroupInput LabelName="Nation ID" @bind-Value="nationId" />
                    </div>
                    <div class="divider-vert" data-content="OR"></div>
                    <div class="column">
                        <FormGroupInput LabelName="Ruler Name" @bind-Value="rulerName" />
                    </div>
                </div>
                <FormGroupInput LabelName="Unique Code" @bind-Value="uniqueCode" />
                <div class="form-group">
                    <label class="form-checkbox">
                        <input type="checkbox" @bind="rememberMe" />
                        <i class="form-icon"></i> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" @onclick="@LogIn">Log In</button>
            <button class="btn btn-link" @onclick="@Toggle">Close</button>
        </div>
    </div>
</div>

@code {

    private bool rememberMe;
    private string nationId;
    private string rulerName;
    private string uniqueCode;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    private Task Toggle()
    {
        Visible = !Visible;

        return VisibleChanged.InvokeAsync(Visible);
    }

    private async Task LogIn()
    {
        var request = string.IsNullOrEmpty(nationId) ? new AuthRequest(rulerName, uniqueCode) : new AuthRequest(Convert.ToInt32(nationId), uniqueCode);
        Console.WriteLine(request.ToString());

        try
        {
            await userService.LogIn(request, rememberMe);
            navManager.NavigateTo("account");
        }
        catch (UnauthorizedAccessException)
        {
            Console.WriteLine("Unauthorized >:(");
            // Do stuff because they did a bad thing
        }
        catch (Exception e)
        {
            Console.WriteLine("Uh oh :( - " + e.Message);
            // Do stuff because someone did a bad thing (probably me)
        }
    }

}
